@model IEnumerable<UCP1_PAW_001_A.Models.Mobil>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<p>Ketersediaan : <select></select> Cari Data : <input /><button>Filter</button></p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("No.Plat Mobil")
            </th>
            <th>
                @Html.DisplayName("Tahun Mobil")
            </th>
            <th>
                @Html.DisplayName("Warna Mobil")
            </th>
            <th>
                @Html.DisplayName("Jenis Mobil")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoPlat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TahunMobil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarnaMobil)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdJenisMobilNavigation.NamaJenisMobil)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMobil"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdMobil"><i class="fas fa-list fa-lg"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdMobil"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
